body {

}


#navigation-left {
	background: #191919;
	position: fixed;
	height: 100%;
	width: 20%;
	top: 0px;
	left: 0px;
}

.content {
	position: relative;
	margin-left: 20%;
}

.content-home {
	background: red; 	
	height: 500px;

}


#about {
	background: yellow; 
	height: 500px;
}

#abilities {
	background: blue; 
	height: 500px;
}

#services {
	background: green; 
	height: 500px;
}

#reference {
	background: purple; 
	height: 500px;
}

#portofolio {
	background: red; 
	height: 500px;
}

#news {
	background: yellow; 
	height: 500px;
}

#contact {
	background: green; 
	height: 500px;
}

#footer {
	background: grey; 
	height: 500px;
}

.navigation-logo {
	text-align: center;
	padding: 50px;	
}

.navigation-logo h1 {
	font-family: arial;
	fonnt-weight: bold;
	color: white;
	font-size: 30px;
}

.navigation-logo h5 {
	font-family: arial;
	color: #ccc;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

.navigation-menu {
}

.navigation-footer {
	color: #fff;
	font-size: 11px;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 25px;
}

.navigation-menu ul {
padding: 20px;
}

.navigation-menu li {
padding: 5px 0;
border-bottom: 1px solid #3a3a3a;
padding: 11px 0;
}

.navigation-menu a {
	color: #ccc;
	text-decoration: none;
	font-family: arial;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 14px;

}

.navigation-menu a:hover {
	color: #fff;
}

.navigation-footer li {
	display: inline-block;
	margin: 3px;
	font-size: 20px;
}

.navigation-footer li a:hover {
	color: #fff;
}

.navigation-footer li a {
	color: #ccc;
	margin: 
}

.navigation-footer ul {
	margin-bottom: 14px;
}


.home-bg-image:before {
position: absolute;
content: "";
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #00000050;
background-repeat: no-repeat;
}

.home-content {
	position: relative;
	z-index: 1;
	margin: auto;
	text-align: center;
	height: 100%;
}
.home-content-avatar {
	margin-top: 50%;
	position: relative;
	
}

.home-content-avatar img {
	border-radius: 100%;
	width: 15%;
	border: 10px solid #ffffff40;
}

.arlo_tm_extra_hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 700px;
}
.arlo_tm_all_wrap, .arlo_tm_all_wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}